// * {
//    border: 1px solid red; /* remove it */ 
//          }
.wrapper{
    min-height: 520px;
    font-size: 24px;
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-size: 2em;
    .notes{
        display: flex;
        flex-direction: column;
        padding-left: 30px;

    }
}

.circle {
    margin-top: 1px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 3px solid #333;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-weight: 900;

}
p{
    font-size: 0.7em;
    padding-top: 20px;
    // font-weight: 100;
    padding-left: 2px;

    b{
    
        color: #8b572a;
    }
}



